.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

/* =============================
   1. CSS RESET
   ============================= */
   *, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  img {
    width: 100%;
  }

  ul li {
    font-style: none;
    list-style: none;
  }

   /* =============================
   2. VARIABLES
   ============================= */

   :root {
    --ff: "Outfit", sans-serif;

    --fs: 1.125rem;

    --fw-400:400;
    --fw-700:700;
    --c-white:#ffff;
    --c-Slate-300:#e2e8f0;
    --c-Slate-500:#64748b;
    --c-Slate-900:#0f172a;
}


   /* =============================
   3. BASE STYLES
   ============================= */
   body {
    font-family: var(--ff);
    background-color: var(--c-Slate-300);
   }

   p {
    font-size: var(--fs);
   }


   /* =============================
   4. LAYOUT / COMPONENT STYLES
   ============================= */
   .wrapper {
    height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   }

   .container {
    width: 20rem;
    background-color: var(--c-white);
    border-radius: 1rem;
    text-align: center;
    
   }

   .qr-img {
    padding: 1rem;
   }

   img {
    border-radius: 1rem;
   }

   .text {
    padding: 1rem;
   }

   p {
    color: var(--c-Slate-500);
    margin-top: 1rem;
    margin-bottom: 1rem;
    line-height: 1.5rem;
   }

   .attribution { 
    font-size: 11px; 
    text-align: center; 
    margin-top: 2rem;
    }
   
   .attribution a { 
    color: hsl(228, 45%, 44%); 
    }   
   

      /* =============================
   5. BREAKPOINT CHNAGES
   ============================= */